* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Handjet', cursive;
  background-color:rgb(0, 0, 0);
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: 'Handjet', cursive;
  font-size: 70px;
  color: white;
  text-align: center;
}

#datos h2 {
  margin-bottom: 20px;
}

#titulo{
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: 'Handjet', cursive;
  font-size: 40px;
  color: white;
  text-align: center;
}

#contenedor {
  text-align: center;
  width: 90%;
  max-width: 700px;
  padding: 20px 20px;
  background-image: linear-gradient(
  180deg,
  hsl(240deg 58% 34%) 0%,
  hsl(217deg 100% 32%) 5%,
  hsl(212deg 100% 36%) 10%,
  hsl(207deg 100% 38%) 15%,
  hsl(202deg 100% 39%) 22%,
  hsl(196deg 100% 38%) 31%,
  hsl(189deg 100% 37%) 50%,
  hsl(180deg 100% 35%) 75%,
  hsl(171deg 100% 38%) 89%,
  hsl(162deg 85% 44%) 100%
);
  border: 7px solid rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin: 100px auto 0;
  margin-bottom: 100px;
}

button {
  font-family: 'Handjet', cursive;
  font-size: 25px;
  background-color: #124673;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 10px 20px;
  text-align: center;
  margin: 10px 0;

}

label {
  font-family: 'Handjet', cursive;
  font-size: 30px;
  color: white;
}

label,
input,
button {
  display: inline-block;
  margin-right: 10px;
}

#datos {
  display:inline-flex
}

#temp,
#sen,
#porcentaje,
#predominante {
  margin: 10px;
}

button {
  margin-right: 0;
  transition: all 0.3s ease;
  cursor: pointer;
}

button:hover {
  background-color: #0e6dc0;
  color: white;
  border: 2px solid white;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transform: scale(1.03);
  /* Hace que el botón aumente de tamaño */
}

input {
  font-family: 'Handjet', cursive;
  /* Cambiar la fuente del texto dentro del input */
  font-size: 30px;
}

hr {
  margin-top: 20px;
  /* Margen superior */
  margin-bottom: 20px;
  /* Margen inferior */
}

.image-container {
  display: flex;
  /* Opcional, para alinear las imágenes horizontalmente */
  justify-content: center;
  /* Opcional, para centrar las imágenes horizontalmente */
}

.image-container img {
  max-width: 100%;
  /* Establece el ancho máximo de las imágenes como 100% del contenedor */
  height: auto;
  /* Permite que la altura se ajuste automáticamente para mantener la proporción */
}

#detalles {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin-top: 20px;
  font-family: 'Handjet', cursive;
  font-size: 20px;
  color: black;
  text-align: center;
}

#humedad {
  margin-right: 15px;
  width: 40px;
}

#viento {
  width: 70px;
}

#col {
  display: flex;
  align-items: center;
  text-align: bottom;
}

#data{
  display:none;
}

#error{
  display:none;
}

@media (max-width: 400px) {
  #col {
    flex-direction: column;
  }
}